<%- model_class = Product -%>
<div class="page-header">
  <h1>My Profile</h1>
</div>

<!-- user profile info -->
<table class="table table-striped">
  <thead>
     <tr>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @user.image_url(:big_avatar).to_s %></td>
      <td><%= @user.username %></td>
    </tr>
  </tbody>
</table>

| <%= link_to 'Edit Profile', edit_user_registration_path %> |

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:blurb) %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.products.each do |product| %>
      <tr>
        <td><%=l product.created_at %></td>
        <td><%= image_tag product.image_url(:big_thumb).to_s %></td>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.blurb %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
