<!-- Todd notes - navigation path: -->
<!-- (home feed) http://localhost:3000/ -->
<!-- (edit profile) http://localhost:3000/users/edit -->
<!-- (sign up) http://localhost:3000/users/sign_up -->
<!-- (login) (http://localhost:3000/users/login) -->
<!-- (users products) http://localhost:3000/products -->
<!--  -->
<!--  -->


<%- model_class = Product -%>
<div class="page-header">
  <h1>Home</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <!-- <th><model_class.human_attribute_name(:qty)></th> -->
      <th><%= model_class.human_attribute_name(:blurb) %></th>
      <!-- <th><model_class.human_attribute_name(:description)></th> -->
      <!-- <th><model_class.human_attribute_name(:weight)></th> -->
      <!-- <th><model_class.human_attribute_name(:shipping_weight)></th> -->
      <!-- <th><model_class.human_attribute_name(:category)></th> -->
      <!-- <th><model_class.human_attribute_name(:subcategory)></th> -->
      <th><%= model_class.human_attribute_name(:image) %></th>
      <!-- <th><model_class.human_attribute_name(:size)></th> -->
      <!-- <th><model_class.human_attribute_name(:options)></th> -->
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <!-- <th><t '.actions', :default => t("helpers.actions")></th> -->
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
      	<td><%= link_to product.user.username, product.user %></td>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <!-- <td><product.qty></td> -->
        <td><%= product.blurb %></td>
        <!-- <td><product.description></td> -->
        <!-- <td><product.weight></td> -->
        <!-- <td><product.shipping_weight></td> -->
        <!-- <td><product.category></td> -->
        <!-- <td><product.subcategory></td> -->
        <td><%= image_tag product.image_url(:big_thumb).to_s %></td>
        <!-- <td><product.size></td> -->
        <!-- <td><product.options></td> -->
        <td><%=l product.created_at %></td>
        <td>
          <!-- <link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-mini'>
          <link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger'> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>