<%- model_class = Product -%>
<div class="page-header">
  <h1>Home</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Avatar</th> 
      <th>Username</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <!-- <th><model_class.human_attribute_name(:id)></th> -->
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:blurb) %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to (image_tag product.user.image_url(:small_avatar, @user).to_s), product.user %></td>
      	<td><%= link_to product.user.username, product.user %></td>
        <td><%=l product.created_at %></td>
        <td><%= link_to (image_tag product.image_url(:big_thumb).to_s), product_path(product) %></td>
        <!-- <td><link_to product.id, product_path(product)></td> -->
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.blurb %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>