<%= form_for @product, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qty, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :qty, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :blurb, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :blurb, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subcategory, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subcategory, :class => 'text_field' %>
    </div>
  </div>
<!--   <div class="control-group">
    <f.label :images, :class => 'control-label'>
    <div class="controls">
      < f.text_field :images, :class => 'text_field' >
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :options, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :options, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_path(current_user), :class => 'btn' %>
  </div>
<% end %>
