<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<!-- <= image_tag @product.image_url.to_s> -->
<!-- <image_tag product.image_url(:thumb) if painting.image?> -->

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag @product.image_url.to_s %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @product.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qty) %>:</strong></dt>
  <dd><%= @product.qty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blurb) %>:</strong></dt>
  <dd><%= @product.blurb %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @product.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shipping_weight) %>:</strong></dt>
  <dd><%= @product.shipping_weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @product.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subcategory) %>:</strong></dt>
  <dd><%= @product.subcategory %></dd>
  <!-- <dt><strong><model_class.human_attribute_name(:images)>:</strong></dt>
  <dd><@product.images></dd> -->
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @product.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:options) %>:</strong></dt>
  <dd><%= @product.options %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
